#about {
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 24px;
}

.about-title {
    color: #BFC89E;
    text-align: left;
    font-size: 42px;
    padding-bottom: 10px;
}

.about-subtitle {
    color: #FFFFFF;
    font-size: 24px;
}

.skill-list {
    list-style-type:square;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.skill-item {
    color:#FFFFFF;
    font-size: 18px;
}

@media only screen and (max-width: 675px) {
    #about {
        padding-left: unset;
        padding-right: unset;
        margin: 0;
    }

    .about-title {
        text-align: center;
        font-size: 36px;
    }

    .about-subtitle {
        text-align: center;
        font-size: 18px;
    }

    .skill-item {
        font-size: 16px;
    }
}