html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Lato";
  src: url("./assets/Lato-Regular.ttf") format("truetype");
  font-weight: 100;
  font-display: fallback;
}

* {
  font-family: "Lato";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 1vh;
  margin: 1vh;
}